* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.5s ease;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  margin-left: 2rem;
}
ul li,
a {
  font-size: 1.2em;
}
  
.container {
  background: #212121;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#presentation {
  width: 1000px;
  height: 500px;
  position: relative;
  background:#201e1e;
}
/* Styling all three sections */
#presentation .presentation {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
  position: relative;
}
#presentation .counter {
  position: absolute;
  bottom: -30px;
  left: 0;
  color: #b6b6b6;
}
#presentation .navigation {
  position: absolute;
  bottom: -45px;
  right: 0;
}
/* On full screen mode */
#presentation.full-screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#presentation.full-screen .counter {
  bottom: 15px;
  left: 15px;
}
#presentation.full-screen .navigation {
  bottom: 15px;
  right: 15px;
}
#presentation.full-screen .navigation .btn:hover {
  background: #201e1e;
  color: #ffffff;
}
#presentation.full-screen .navigation .btn-screen:hover {
  background: #201e1e;
}
/* End full screen mode */
/* Buttons */
.navigation button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.navigation .btn {
  background: #464646;
  color: #ffffff;
  border-radius: 0.25rem;
  opacity: 0;
  transform: scale(0);
}
.navigation .btn.show {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.navigation .btn-screen {
  background: transparent;
  color: #b6b6b6;
  visibility: hidden;
}
.btn-screen.show {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.btn-screen.hover {
  color: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
/* End Buttons */
/* content */
.slides .content {
  padding: 2em;
  width: 100%;
  height: calc(100% - 100px);
  z-index: 11;
  color:#ffffff;
}
.slides .content.grid {
  display: grid;
}
.slides .content.grid.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content h1 {
  font-size: 3em;
  color: #fdee8a;
}
.full-screen .content h1 {
  font-size: 6em;
}

.content h2 {
  font-size: 2.5em;
  color: #fdee8a;
}
.full-screen .content h2 {
  font-size: 5em;
}

.content p {
  font-size: 1.25em;
  margin-bottom: 1rem;
}
.full-screen .content p {
  font-size: 2.5em;
}

.center{
    display: flex;
    justify-content: center;
}



/* End Content Stylesheet */
/* Slide */
.slides .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #212934;
  opacity: 0;
  transform: scale(0);
  visibility: none;
}
.slide.show {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.slide .heading {
  padding: 2rem;
  background: #212934;
  font-size: 2em;
  font-weight: bold;
  color: #ffed75;
}
